.game {
    text-align: center;
    margin: 30px auto;
}
h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1;
}
h1 img {
    height: 22px;
    vertical-align: top;
    margin-left: 10px;
}
footer {
    margin-top: 10px;
}
.container {
    display: inline-block;
}
.caption {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.caption .message {
    color: indianred;
}
.box {
    border: 1px solid #E8E8E8;
    display: inline-block;
}

.row {
    font-size: 0;
}
.point {
    width: 16px;
    height: 16px;
    display: inline-block;
}
.point.odd, .point.odd.active.head::before {
    background-color: #aad751;
}
.point.even, .point.even.active.head::before {
    background-color: #a2d149;
}
.point.active {
    background-color: #4774e9!important;
}
.point.target {
    background-image: url('/assets/target.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.point.active.head {
    background-image: url('/assets/head.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.point.active.head::before {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    position: relative;
}

/* direction show in head */
.box.direction-left .point.active.head {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.box.direction-right .point.active.head {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.box.direction-up .point.active.head {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.box.direction-down .point.active.head {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}


.point.active.target {
    background-color: #000!important;
}