.game {
    width: 400px;
    margin: 30px auto;
}
.box {
    width: 400px;
    height: 400px;
    border: 1px solid #E8E8E8;
    display: block;
}

.row {
    font-size: 0;
}
.point {
    width: 20px;
    height: 20px;
    display: inline-block;
}
.point.odd {
    background-color: #FFF;
}
.point.even {
    background-color: #f7f7f7;
}